* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.sideBar{
width: 371px;
 height: 100vh; 
opacity: 1;
border-width: 1px;
background-color: #FFFFFF;
padding-left: 35px;
}


.logo {
  width: 190px;
  height: 31.67px;
  /* border: 3px solid #000000; */
  padding: 50px 0px 50px 0px;
}

.user-section {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 12px 5px 35px;
  /* border: 2px solid #000; */
  margin-bottom: 20px;
}

.menu {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  /* border: 3px solid #000; */
}

.menu-list-item {
    height: 51px;
    width: 286px;
    /* border: 3px solid #000000; */
    text-align: center;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 20px;
}

.contact {
  padding-top: 15px;
  /* border: 3px solid #000000; */
  padding: 33px;    

}

.contact button {
  width: 97px;
  height: 34px;
  background-color: #1F4451;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  font-weight:600;
  align-items: center;
}

.contact-heading {
    font-size: 24px;
    font-weight: 545;
    color: #1F4451;
    line-height: 120%;
    margin: 10px 0px;
    /* border: 3px solid #000000; */
}

.contact-paragraph {
    font-size: 16px;
    font-weight: 400;
    color: #626D82;
    line-height: 140%;
    /* border: 3px solid #000000; */
    margin-bottom: 20px;
}

.below-section {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 200px);
    justify-content: space-between;
    
}



