.header {
  /* background-color: #FFFFFF;  */
  /* border: 3px solid black; */
  padding-bottom: 30px;
}

.header-path {
  display: flex;
  align-items: center;
  gap: 3px;
  font-size: 14px;
  color: #6c7a93;
  margin-bottom: 4px;
  font-weight: 500;
  height: 22px;
  padding: 65px 0px 30px 0px;
}

.icon-detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.header-h1 {
  font-size: 33px;
  font-weight: 549;
  color: #0b1a2d;
  margin: 0px;
}

.search-button {
  background-color: #ffffff;
  border: 0.5px solid #b5bdcd;
  width: 307px;
  height: 47px;
  border-radius: 4px;
  padding: 0 12px;

  display: flex;
  align-items: center;
  gap: 8px;
}

.search-button input {
  border: none;
  outline: none;
  font-size: 16px;
  flex: 1;
  height: 100%;
}

.search-button .search-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
