.table-wrapper {
  width: 1084px;
  max-height: 571px;
  background-color: #ffffff;
  /* border: 3px solid #000000; */
  overflow-y: auto;
  position: relative;
}

.document-table {
  width: 1040px;
  border-collapse: collapse;
}

.document-table th {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #ffffff;
}

.document-table tr {
  height: 48px;
  border-bottom: 0.3px solid #ccc4c4;
}

th {
  text-align: left;
  font-size: 16px;
  font-weight: 600;
  color: #000000;
}

.document-table td {
  font-size: 14px;
  font-weight: 500;
  color: #141414;
  z-index: 1;
}

.document-button {
  width: 134px;
  height: 34px;
  border: 1px solid #b5bdcd;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
  cursor: pointer;
}

.document-table th:first-child,
.document-table td:first-child {
  padding: 0 16px;
  width: 48px;
}
